{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
  <header id="banner_background">
    <div class ="degree"></div>
  </header>
  <div id="body_wrapper">
      <header role="banner">{% include header.html %}</header> 
      <nav role="navigation">{% include navigation.html %}</nav>
     
  </div><!--ENDS BODY WRAPPER-->
  {% include resume.html %}
<div id="footer">
    <div class="degree">
        <footer role="contentinfo">{% include footer.html %}</footer>
        {% include after_footer.html %}
    </div>
</div>
</body>
</html>
