<div id="cv_wrapper">

							<div id="hd">
								<div id="header_wrapper">		
									<h1>Steven Thomas</h1>
									<h2>Software Developer</h2>
								</div>
								<div class="contact-info">
									<p><a href="resume.pdf">Download PDF</a></p>
									<p><a href="mailto:stevengt@live.unc.edu">stevengt@live.unc.edu</a></p>
									<p>336-512-7843</p>
								</div><!--// .contact-info -->
							</div>

						




						<div class="experience">
							<div class="section_title">Relevant Experience</div>
							<div class="cv_content_wrapper">
							

								<div class="project">
									<h2>RENCI</h2>
									<h4>Fall 2014</h4>
									<h3>Volunteer Database Designer and Analyst</h3>
							
										<div class="project_description">Implement and analyze a database in <b>Postgres</b> containing data on start-up companies.
										</div>
								</div><!--ENDS project-->



								<div class="project last">
									<h2>Acme-McCrary Corporation</h2>
									<h4>Summer-Fall 2014</h4>
									<h3>Volunteer Sales Analyst</h3>
							
										<div class="project_description">
											<p>Used third party modules in <b>Python</b> to automate the analysis of sales data in Excel to determine appropriate shipping information, changing the process from taking one hour to one second.</p>
											<p>Use a <b>JDBC-ODBC</b> bridge to connect to Microsoft Access files and construct sales reports.</p>
										</div>
								</div><!--ENDS project-->


							</div><!--ENDS cv_content_wrapper-->
						</div><!--ENDS experience-->


						<div class="experience">
							<div class="section_title">Class Projects</div>
								<div class="cv_content_wrapper">



									<div class="project">
										<h2>Advanced WWW Development</h2>
										<h4>Fall 2014</h4>
										<h3>Audio Game for Visually Impaired</h3>
										<div class="project_description">
											<p>Organize and lead a group to complete an online audio game.</p>
											<p>Design front-end in <b>JavaScript</b> to send query requests to the server for available in-game options.</p>
											<p>Assist in designing a <b>PHP</b> script to traverse server-side database as requested by the client browser.</p>
										</div>
									</div>





									<div class="project last">
										<h2>Foundations of Programming</h2>
										<h4>Fall 2013</h4>
										<h3>Alice-Like Program</h3>
										<div class="project_description">
											<p>Created an Alice-like program with a <b>MVC</b> architecture in <b>Java</b>.</p>
											<p>Implemented a DSL with <b>recursive descent parsing</b> to control an <b>asynchronous animation</b> of actors.</p>
										</div>
									</div>

								</div>
							</div><!--ENDS experience-->
						



						<div id="education">
							<div class="section_title">Education</div>
							<div class="cv_content_wrapper" id="education_content">
							<h3>University of North Carolina at Chapel Hill</h3>
							<h4>2012-2016</h4>
							<div class="Major">
								<ul>
									<li>B.S. Computer Science</li>
									<li>Japanese Minor</li>
								</ul>
							</div>
							<div class="gpa">3.77 GPA</div>
							<div>Relevant Coursework: Introduction to Statistics, Linear Algebra</div>
							</div><!--ENDS cv_content_wrapper-->
						</div><!--ENDS education-->



						<div id="skills">
							<div class="section_title">Skills</div>
							
							<div class="cv_content_wrapper" id="skills_content">
							
								<ul>
										<li>Languages:<br>
											<span class="indent">Java, Python, C, JavaScript, HTML/CSS, SQL, PHP, Assembly</span></li>
										<li>Algorithms:<br>
											<span class="indent">Sorting, searching, recursive descent parsing, animation</span></li>
										<li>Design Patterns:<br>
											<span class="indent">Model-view-controllers, command objects, delegation</span></li>
										<li>Threads/synchronization, implementing generics, exceptions</li>
										<li>Unix/Linux</li>
										<li>GUI Design</li>
										<li>Intermediate proficiency in Japanese</li>
								</ul>
							
							</div><!--ENDS skills_content-->
						</div><!-- ENDS skills-->




						<div id="ft">
							<p>Steven Thomas &#8226; <a href="mailto:stevengt@live.unc.edu">stevengt@live.unc.edu</a> &#8226; (336) - 512-7843</p>
						</div>
						</div><!--ENDS cv_wrapper-->
